<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.exam.dao.LoginDao" >
  <resultMap id="BaseResultMap" type="com.hand.exam.entity.Customer" >
    <constructor >
      <idArg column="customer_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="store_id" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="first_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="last_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="active" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="create_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="last_update" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    customer_id, store_id, first_name, last_name, email, address_id, active, create_date, 
    last_update
  </sql>
  <insert id="insertCustomer" useGeneratedKeys="true" keyProperty="customerId">
       insert into customer (customer_id, store_id, first_name,
      last_name, email, address_id,create_date
      )
    values (null , #{storeId}, #{firstName,jdbcType=VARCHAR},
      #{lastName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 1,NOW()
      )
  </insert>

  <update id="updateCustomer" useGeneratedKeys="true" keyProperty="customer_id">
  update customer
  set email = "3115679714@qq.com"
  where customer_id = #{customerId,jdbcType=SMALLINT}
  </update>
  <delete id="deleteCustomer">
    delete from customer
    where customer_id = #{customerId,jdbcType=SMALLINT}
  </delete>
  <select id="getCustomerByName" resultType="String">
    select last_name from customer where first_name=#{name}
  </select>

</mapper>